<template>
  <div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="desktop">
          <table class="adjustStyleTable">
            <tr>
              <th></th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>ROLE</th>
              <th>EMAIL</th>
              <th>STATUS</th>
              <th></th>
            </tr>
            <tbody>
              <tr v-for="user in userData|| paginate">
                <td>
                  <img class="round" width="60" height="60" />
                  <span style="margin-left:-50px;">asd</span>
                </td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td>{{user.status}}</td>
                <td v-if="user.role == 'admin'">
                  <edit v-on:click="editUser(user)"></edit>
                  <deleteU v-on:click="deleteUser(user)"></deleteU>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mobile">
          <table class="adjustStyleTable">
            <tr style="margin-top:8px;margin-bottom:8px;letter-spacing:1">
              <th></th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>ROLE</th>
            </tr>
            <tbody v-for="(user,index) in userData">
              <tr style="color:#212445;background-color:#c2c4bb;margin-top:8px;margin-bottom:8px;letter-spacing:1">
                <td>
                  <downArrow v-on:click="openDetails(index)"></downArrow>
                </td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.role}}</td>
              </tr>
              <tr :id="getID(index)" class="initalHide">
                <td>EMAIL: {{user.email}}</td>
                <td>STATUS: {{user.status}}</td>
                <td v-if="user.role == 'admin'">
                  <edit class="mobileAdjustSize" v-on:click="editUser(user)"></edit>
                  <deleteU class="mobileAdjustSize" v-on:click="deleteUser(user)"></deleteU>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import update from "../asset/images/updated.svg";
import edit from "../asset/images/edit.svg";
import cancel from "../asset/images/error.svg";
import deleteU from "../asset/images/delete.svg";
import downArrow from "../asset/images/drop-down-arrow.svg";

import axiosService from "../resources/axios.service";

export default {
  props: {},
  data() {
    return {
      userData: [],
      previousToggle: ""
    };
  },
  components: {
    update,
    edit,
    cancel,
    deleteU,
    downArrow
  },
  methods: {
    getID(index) {
      return "attr" + index;
    },
    openDetails(index) {
      if (this.previousToggle != null && this.previousToggle.length > 0) {
        console.log("11111111111111111");
        if ("attr" + index == this.previousToggle) {
          document
            .getElementById(this.previousToggle)
            .classList.toggle("initalHide");
          this.previousToggle = "attr" + index;
        } else {
          document
            .getElementById(this.previousToggle)
            .classList.add("initalHide");
          document
            .getElementById("attr" + index)
            .classList.remove("initalHide");
          this.previousToggle = "attr" + index;
        }
      } else {
        console.log("2222222222222222");
        document.getElementById("attr" + index).classList.remove("initalHide");
        this.previousToggle = "attr" + index;
      }
    },
    editUser(user) {
      var beforeUpdateEmail = user.email;
      this.$swal({
        title: "Update User!",
        type: "warning",
        html:
          "<div class='row' style='margin-top:10px;'><div class='col-5'>Email</div><div class='col-7'><input id='swalAlertEmail' type='text' style='width:100%;border:1px solid black;border-radius:2px;' value='" +
          user.email +
          "'></div></div>" +
          "<div class='row' style='margin-top:10px;'><div class='col-5 centerText'>Status</div><div class='col-7'><select id='swalAlertStatus' style='width:100%;border:1px solid black;border-radius:2px;'><option value='active'>ACTIVE</option><option value='inactive'>INACTIVE</option></select></div></div>",
        showCancelButton: true,
        confirmButtonText: "Yes, Update it!",
        cancelButtonText: "No, cancel it"
      }).then(result => {
        if (result.value == true) {
          var updatedEmail = document.getElementById("swalAlertEmail").value;
          var docOpt = document.getElementById("swalAlertStatus");
          var updateStatus = docOpt.options[docOpt.selectedIndex].value;

          console.log(updatedEmail);
          console.log(updateStatus);

          axiosService.postService(
            "updateUser",
            {
              email: updatedEmail,
              status: updateStatus,
              oldemail: beforeUpdateEmail
            },
            error => {
              console.log("ERROR" + error);
            },
            Response => {
              console.log(Response);
              if (Response.data != false) {
                console.log(Response);
                this.getAllUser();
              }
            }
          );
        }
      });
    },
    deleteUser(user) {
      this.$swal({
        title: "Delete User!",
        type: "warning",
        text: "Are You Sure?",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel it"
      }).then(result => {
        if (result.value == true) {
          axiosService.postService(
            "deleteUser",
            { email: user.email },
            error => {
              console.log("ERROR" + error);
            },
            Response => {
              if (Response.data == true) {
                this.getAllUser();
              }
            }
          );
        }
      });
    },
    getAllUser() {
      axiosService.getService(
        "",
        error => {
          console.log("ERROR" + error);
        },
        Response => {
          console.log(Response);
          this.userData = Response;
        }
      );
    }
  },
  created() {
    console.log("Yeh Deakh Initial Load");
    //this.callService();
    axiosService.getService(
      "",
      error => {
        console.log("ERROR" + error);
      },
      Response => {
        console.log(Response);
        this.userData = Response;
      }
    );
  }
};
</script>

<style scoped>
.round {
  border-radius: 50%;
  background-color: blue;
}
.adjustStyleTable {
  width: 100%;
}

.centerText {
  text-align: center;
}
.marginTop20 {
  margin-top: 20px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobileAdjustSize {
    width: 20pt;
    height: 20pt;
  }
  .initalHide {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
</style>