<template>
  <div>
    <div class="row paddingTopBottom borderBottom">
      <div class="col-5 bungeLeft">
        <img class="imageAdjust" v-bind:src="'./src/asset/images/logo.png'" />
      </div>
      <div class="col-2">
        <!--<img class="imageAdjust" v-bind:src="'./src/asset/images/logo.png'" />-->
      </div>
      <div class="col-5 bungeRight welcome fontSemiBold colorPrimary fontPrimary">
        <!--<userIcon v-on:click="userCardmodel" />-->
        <menuIcon></menuIcon>
      </div>
    </div>

    <div class="row commonMarginTop">
      <div class="col-4 textalignCenter"></div>
      <div class="col-4 textalignCenter">
        <img class="imageInnerLogo" v-bind:src="'./src/asset/images/paw_symbol.png'" />
      </div>
      <div class="col-4 textalignCenter"></div>
    </div>

    <div class="row commonMarginTop">
      <div class="col-12 textalignCenter pageHeaderStyle">
        <p class="userline colorPrimary fontBold fontPrimary">{{pageHeader}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import menuIcon from "../asset/images/menu.svg";

export default {
  components: {
    menuIcon
  },
  props: {
    userDetail: String,
    pageHeader: String
  },
  methods: {
    userCardmodel() {
      console.log("USER ICON CLICKED");
    }
  }
};
</script>

<style scoped>
.borderBottom {
  border-bottom: 2px solid blue;
}
.textalignCenter {
  text-align: center;
}
.textalignLeft {
  text-align: left;
}
.bungeLeft {
  text-align: left;
  padding-left: 10%;
}
.bungeRight {
  text-align: right;
  padding-right: 10%;
}
.commonMarginTop {
  margin-top: 2%;
}
.paddingTopBottom {
  padding-top: 10px;
  padding-bottom: 10px;
}
.userline {
  text-decoration: underline;
}

.fontBold {
  font-weight: 600;
}
.fontRegular {
  font-weight: 400;
}
.fontSemiBold {
  font-weight: 500;
}
.colorPrimary {
  color: #293d99;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .imageInnerLogo {
    width: 80%;
    height: 40px;
  }

  .pageHeaderStyle {
    margin: auto;
    padding: 10px;
  }
  .imageAdjust {
    width: 100%;
    height: 30px;
    padding-top: 10px;
  }
  .welcome {
    text-align: right;
  }

  .fontPrimary {
    font-size: 18px;
    letter-spacing: 1;
  }
}
@media only screen and (min-width: 700px) {
  .imageInnerLogo {
    width: 50%;
    height: 20%;
  }
  .imageAdjust {
    width: 58%;
    height: 68px;
    padding-top: 5px;
  }
  .welcome {
    padding-top: 20px;
  }
  .fontPrimary {
    font-size: 24px;
    letter-spacing: 1;
  }
}
</style>