<template>
  <div>
    <div class="row marginMobileAdjust">
      <div class="col-3 col-lg-3"></div>
      <div class="col-6 col-lg-6">
        <img class="imageAdjust" v-bind:src="'./src/asset/images/logo.png'" />
      </div>
    </div>
    <div class="row margin-top-2 marginMobileAdjust">
      <div class="col-1 col-lg-4"></div>
      <div class="col-10 col-lg-4">
        <div class="row">
          <div class="col-5 col-lg-6 centerText">
            <label class="colorPrimary fontPrimary fontBold">USERNAME</label>
          </div>
          <div class="col-7 col-lg-6">
            <input class="mobileInput labelStyle" type="text" v-model="useremail" />
          </div>
        </div>
      </div>
      <div class="col-1 col-lg-3"></div>
    </div>
    <div class="row margin-top-2 marginMobileAdjust">
      <div class="col-1 col-lg-4"></div>
      <div class="col-10 col-lg-4">
        <button class="primaryButton backgroundPrimary fontPrimary colorFontWhite fontBold" v-on:click="checkUser">SUBMIT</button>
        <button class="primaryButton fontPrimary colorPrimary fontBold" v-on:click="createUser">REGISTER</button>
      </div>
    </div>
  </div>
</template>

<script>
import axiosService from "../resources/axios.service";
export default {
  data() {
    return {
      useremail: "",
      propUserPriv: ""
    };
  },
  methods: {
    checkUser() {
      console.log("Checking User");
      axiosService.postService(
        "authUser",
        { email: this.useremail },
        error => {
          console.log("ERROR" + error);
        },
        Response => {
          if (Response.data != null) {
            console.log("USER DATA IS THERE");
            console.log(Response.data.role);
            this.$router.push("/user");
          }
        }
      );
    },
    createUser() {
      this.$swal({
        title: "Create User!",
        type: "info",
        html:
          "<div class='row' style='margin-top:10px;'><div class='col-5'>First Name</div><div class='col-7'><input id='swalAlertCreateFN' type='text' style='width:100%;border:1px solid black;border-radius:2px;'></div></div>" +
          "<div class='row' style='margin-top:10px;'><div class='col-5'>Last Name</div><div class='col-7'><input id='swalAlertCreateLN' type='text' style='width:100%;border:1px solid black;border-radius:2px;'></div></div>" +
          "<div class='row' style='margin-top:10px;'><div class='col-5'>Email</div><div class='col-7'><input id='swalAlertCreateEmail' type='text' style='width:100%;border:1px solid black;border-radius:2px;'></div></div>" +
          "<div class='row' style='margin-top:10px;'><div class='col-5 centerText'>Role</div><div class='col-7'><select id='swalAlertCreateRole' style='width:100%;border:1px solid black;border-radius:2px;'><option value='accountant'>ACCOUNTANT</option><option value='admin'>ADMIN</option><option value='doctor'>DOCTOR</option></select></div></div>" +
          "<div class='row' style='margin-top:10px;'><div class='col-5 centerText'>Status</div><div class='col-7'><select id='swalAlertCreateStatus' style='width:100%;border:1px solid black;border-radius:2px;'><option value='active'>ACTIVE</option><option value='inactive'>INACTIVE</option></select></div></div>",
        showCancelButton: true,
        confirmButtonText: "Yes, Create it!",
        cancelButtonText: "No, cancel it"
      }).then(result => {
        if (result.value == true) {
          var fname = document.getElementById("swalAlertCreateFN").value;
          var lname = document.getElementById("swalAlertCreateLN").value;
          var email = document.getElementById("swalAlertCreateEmail").value;

          var docOptS = document.getElementById("swalAlertCreateStatus");
          var status = docOptS.options[docOptS.selectedIndex].value;

          var docOptR = document.getElementById("swalAlertCreateRole");
          var role = docOptR.options[docOptR.selectedIndex].value;

          if (fname.length > 0 && lname.length > 0 && email.length > 0) {
            axiosService.postService(
              "createUser",
              {
                email: email,
                firstname: fname,
                lastname: lname,
                role: role,
                status: status
              },
              error => {
                this.$swal("ERROR CREATING USER");
              },
              Response => {
                if (Response.data == true) {
                  this.$swal("USER CREATED");
                }
              }
            );
          } else {
            this.$swal("ALL FIELDS ARE IMPORTANT");
          }
        }
      });
    }
  }
};
</script>

<style scoped>
.backgroundPrimary {
  background-color: #293D99;
}
.colorPrimary {
  color: #293D99;
}
.fontPrimary {
  font-size: 24px;
}
.labelStyle {
  color: #212445;
  border: 1px solid black;
  border-radius: 4px;
}
.colorFontWhite{
  color: white;
}
.colorFontBlack{
  color: black;
}
.fontBold{
  font-weight: 600;
}
.fontRegular{
  font-weight: 400;
}
.fontSemiBold{
  font-weight: 500;
}

.primaryButton {
  width: 48%;
  border-radius : 5px;
  border: 0px;
  height: 40px;
}
.imageAdjust {
  margin-top: 10%;
  width: 100%;
}
.centerText {
  text-align: center;
}
.margin-top-2 {
  margin-top: 2%;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .mobileInput {
    width: 90%;
  }

  .marginMobileAdjust {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 700px) {
  .centerText {
    text-align: center;
  }
}
</style>
