<template>
  <div>
    <customnavigation :pageHeader="pageHeader" :userDetail="userDetail"></customnavigation>
    <customTable :propUserPriv="propUserPriv"></customTable>
  </div>
</template>

<script>
import customTable from "../componentReuse/Customtable.vue";
import customnavigation from "../componentReuse/Customnavigation.vue";


export default {
  props:{
    propUserPriv : String
  },
  data() {
    return {
      userDetail:"aaaaaaaa",
      pageHeader:"USER TABLE"
    };
  },
  components: {
    customTable,
    customnavigation
  },
  methods: {
    callService() {}
  }
};
</script>

<style>
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css";

#app {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: blue;
}

.alert-in-enter-active {
  animation: bounce-in 0.5s;
}

.alert-in-leave-active {
  animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
</style>