<template>
    <div id="app">
       <!--<nav>
           <router-link to="/">Home</router-link>
           <router-link to="/about">About</router-link>
       </nav>-->

       <router-view></router-view>
    </div>
</template>

<script>

</script>